<!DOCTYPE HTML>
<html>

<body>
<div class="container">
    <h3> Hello {{name}}!</h3>
    <div ng-if="survey.length==0">
        <p> Click below to make your first survey! </p>
    </div>

    <div ng-if="survey.length!=0">
        <p> Here are your surveys </p>
        <table class="table">
            <tr ng-repeat="survey in $parent.survey">

                <td> <a href="{{'/renderSurvey?id='+ survey[1]}}">{{survey[0]}}</a> </td>
                <td> <a href="{{'/participant?id='+ survey[1] + '&nm=' + splitAndAdd(survey[0])}}">
                        Participants </a> </td>
                <td> <a href="{{'/result?id='+ survey[1]+ '&nm=' + splitAndAdd(survey[0])}}">
                        Results </a> </td>
            </tr>
        </table>

    </div>



    <a href="/renderSurvey?new=yes"> <button class="btn btn-info">Create a new survey  </button> </a>
    <br>
    <form method="post" action="/logout">
        <button  type="submit" class="btn btn-link">Log Out</button>
    </form>
</div>

</body>