body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.box {
  float:right;
}

div.box2 {
  float:left;
  background-color: beige;
}

div.question{
  background-color: beige;
}